body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.conteneur {
    min-height: 100vh;
    width: 80%;
    max-width: 800px;
    padding: 20px;
    border-radius: 8px;
    /* margin-top: 20px; */
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.commentaire {
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    justify-content: space-between;
}

.label-input {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    flex: 1;
}

.form label {
    font-weight: bold;
    margin-bottom: 8px;
}

.form input[type="text"],
.form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(50% - 10px); /* Calcul de la largeur pour les deux inputs avec espace entre eux */
    box-sizing: border-box; /* Inclure les bordures et le padding dans la largeur */
    flex: 1; /* Pour que les inputs prennent tout l'espace disponible */
    margin-right: 10px; /* Espacement entre les inputs */
}

.form textarea {
    resize: vertical;
}

.form button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
}

.form button:hover {
    background-color: #0056b3;
}
