body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.conteneur {
    display: flex;
    flex-direction: column;
    justify-content:stretch;
    min-height: 100vh;
    width: 80%;
    max-width: 800px;
    padding: 20px;
}

hr {
    margin-top: 20px; /* ou ajustez comme nécessaire */
    margin-bottom: 20px; /* ou ajustez comme nécessaire */
    border: none; /* Assurez-vous qu'il n'y a pas de bordure */
    border-top: 2px solid #ccc; /* Ajoutez une bordure sur le dessus */
    width: 100%; /* Assurez-vous qu'il occupe toute la largeur */
}


.H2-style{
    margin-top: 70px;
    margin-bottom: 60px;
}

.commentaire {
    margin-bottom: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer les éléments horizontalement */
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px; /* Ajouter un espace de 20px entre chaque paire d'étiquettes et d'éléments input */
    margin-bottom: 30px;
}


.label-input {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    
}

.form label {
    font-weight: bold;
    margin-bottom: 8px;
}

.label-style {
    display: flex;
    align-items: center; /* Aligner verticalement les éléments */
}


#L2 {
    margin-left: 32em; /* Aligner #L2 à droite */
}

.form input[type="text"],
.form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 2em;
    width: 100%; /* Assurez-vous que les textarea occupent toute la largeur du conteneur */
    margin-right: 10px; /* Espacement entre les inputs */
    
}

.form textarea {
    resize: vertical;
}
#button {
    margin-top: 20px;
    align-self: flex-end; /* Aligner le bouton à droite à l'intérieur de son conteneur */
    color: #ffffff;
    border: 2px solid #00b36e; /* Bordure extérieure */
    border-radius: 6px; /* Ajustez la bordure du bouton si nécessaire */
    cursor: pointer;
    width: auto; /* Largeur automatique pour s'adapter au contenu */
    height: 40px; /* Hauteur du bouton */
    font-size: 14px; /* Taille de la police */
    padding: 2px 2px; /* Rembourrage */
    background-color: transparent; /* Fond transparent */
    outline: none; /* Supprimer la bordure d'accentuation */
}

#button:hover {
    border-color: #028f59; /* Couleur de la bordure au survol */
}

.form button {
    background-color: #00b36e;
    border: 2px solid #00b36e; /* Bordure intérieure */
    border-radius: 6px; /* Ajustez la bordure du bouton si nécessaire */
    width: auto; /* Largeur fixe pour tous les boutons dans le formulaire */
    height: 40px; /* Hauteur du bouton */
    font-size: 14px; /* Taille de la police */
    padding: 5px 20px; /* Rembourrage */
}

.form button:hover {
    background-color: #028f59;
}
