body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.conteneur {
    display: flex;
    flex-direction: column;
    justify-content:stretch;
    min-height: 100vh;
    width: 80%;
    max-width: 800px;
    padding: 20px;
    border-radius: 8px;
    /* margin-top: 20px; */
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

hr{
    margin-top: 70px;
    margin-bottom: 70px;
}
.H2-style{
    margin-top: 70px;
}

.commentaire {
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px; /* Ajouter un espace de 20px entre chaque paire d'étiquettes et d'éléments input */
    margin-bottom: 30px;
}


.label-input {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    
}

.form label {
    font-weight: bold;
    margin-bottom: 8px;
}

.label-style {
    display: flex;
    align-items: center; /* Aligner verticalement les éléments */
}


#L2 {
    margin-left: 33em; /* Aligner #L2 à droite */
}

.form input[type="text"],
.form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 2em;
    width: 100%; /* Assurez-vous que les textarea occupent toute la largeur du conteneur */
    margin-right: 10px; /* Espacement entre les inputs */
    
}

.form textarea {
    resize: vertical;
}
#button {
    display: flex;
    flex-direction: row-reverse;
    padding: 3px;
    margin-left: 87%;
    border: 3px solid #00b36e; /* Bordure autour du bouton */
    border-radius: 5px;
}

.form button {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 100px;
    background-color: #00b36e;
    color: #ffffff;
    border: none; /* Supprimer la bordure par défaut */
    border-radius: 3px; /* Ajustez la bordure du bouton si nécessaire */
    cursor: pointer;
    width: 200px;
    height: 50px;
    padding: 10px; /* Ajoutez du rembourrage pour le bouton */
    font-size: 20px;
}


.form button:hover {
    background-color: #0056b3;
}
